body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}


header {
    min-height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

header{
    background-image: url(/homebg.webp);
    background-attachment: fixed;
}

header > * {
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-image {
    width:200px;
    height:200px;
    background-color: white;
    border-radius: 50%;
    background-image: url(/homePic.png);
    background-size: cover;
}

.profile-name, .title {
    font-size: 5em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
    font-size: 1.75em;
}

.container {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 80px;
    margin-right: 80px;
    overflow-x: hidden;
}

.img1 {
    position: relative;
    text-align: center;
}

.img1::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 30px;
    right: 30px;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.4);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    z-index: 30;
  }

.centered:active {
    background-color: lightgrey;
    box-shadow: 0 5px #666;
  }

.slides{
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slides > img {
    scroll-snap-align: start;
}

.slides img {
    border-radius: 10px;
    width: 600px;
    height: 450px;
}

.slides::-weblit-scrollbar {
    display: none;
}
